/* Styles pour le formulaire de changement de mot de passe */
#changePasswordForm {
    margin: 40px auto;
    padding: 35px;
    width: 450px;
    background-color: #111;
    border: 3px solid #444;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

#changePasswordForm label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #ddd;
}

#changePasswordForm input {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: 3px solid #444;
    border-radius: 8px;
    background-color: #222;
    color: white;
    font-size: 16px;
}

#changePasswordForm input:focus {
    outline: none;
    border-color: #00cc66; /* Couleur verte lors du focus */
    box-shadow: 0 0 8px #00cc66;
}

/* Style du bouton avec animation au survol */
.button-89 {
  --b: 4px;   /* épaisseur de la bordure */
  --s: 0.6em; /* taille des coins */
  --color: #555;

  padding: calc(.6em + var(--s)) calc(1em + var(--s));
  color: #fff;
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: 0.3s ease, color 0s, background-color 0s, transform 0.2s ease;
  outline: var(--b) solid #0000;
  outline-offset: 0.7em;
  font-size: 18px;

  border: 0;
  text-align: center;
  display: block;
  margin: auto;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;

  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  background-color: #6c757d;
}

.button-89:active {
  background: #4e555b;
  color: #fff;
  transform: scale(0.97);
}

/* Message d'erreur pour les mots de passe */
#errorMessage {
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 1em;
    color: red;
}
