/* Styles pour le formulaire de changement de mot de passe */
#changePasswordForm {
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#changePasswordForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

#changePasswordForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#changePasswordForm .button-54 {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

#changePasswordForm .button-54:hover {
    background-color: #0056b3;
}
