/* Réinitialisation de base */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
}

/* Conteneur principal */
#container {
    display: flex;
    height: calc(100vh - 50px); /* Hauteur moins la bannière */
    text-decoration: none;
}

/* Barre de navigation latérale */
#sideNav {
    width: 280px;
    background-color: #000000;
    color: #5d1414;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-decoration: none;
}

#sideNav ul {
    list-style: none;
    text-decoration: none;
}

#sideNav ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#sideNav ul li:hover {
    background-color: #333;
    text-decoration: none;
}

#sideNav ul li.active {
    background-color: #444;
    text-decoration: none;
}

#sideNav a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;

    text-decoration: none;
    color: #fefafa; /* Couleur du texte dans la barre latérale */
}

#sideNav a:hover {
    color: #2e32a0; /* Changer de couleur au survol */
    background-color: #333; /* Changer la couleur de fond au survol */
}

/* Contenu principal */
#mainContent {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

section {
    display: none;
}

section.active {
    display: block;
}

/* Styles des tableaux */
/* Styles des tableaux de cette page */
#ControlTable {
    width: 100%;
    max-width: 1800px;
    margin: auto;
    background: #012B39;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#ControlTable th, #ControlTable td {
    padding: 12px 15px;
    text-align: center;
    font-size: 1em;
}

#ControlTable th {
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-weight: 600;
}

#ControlTable td {
    color: #E2B842;
    font-weight: 400;
}

#ControlTable tbody tr {
    transition: background 0.25s ease;
}

#ControlTable tbody tr:hover {
    background: #185602;
}

#ControlTable .disabled td {
    color: #4F5F64;
}

/* Styles des boutons de contrôle */
.button-control {
    height: 40px;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.button-control:hover {
    background-color: #45a049;
}

.button-control:active {
    background-color: #3e8e41;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

/* Responsive pour mobile */
@media (max-width: 600px) {
    #ControlTable, 
    #ControlTable th, 
    #ControlTable td {
        display: block;
        width: 100%;
    }

    #ControlTable thead {
        display: none;
    }

    #ControlTable tbody tr {
        display: block;
        margin-bottom: 13px;
    }

    #ControlTable tbody tr td {
        display: flex;
        justify-content: space-between;
        padding: 13px;
        position: relative;
        border: none;
        border-bottom: 1px solid #ddd;
        font-size: 0.7em;
    }

    #ControlTable tbody tr td:before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
        font-size: 0.6em;
    }
}

/* Styles spécifiques au tableau des produits */
#productTable {
    margin-top: 30px;
    border-spacing: 0;
}

#productTable th {
    background-color: #FFED86;
    color: #333;
    font-size: 16px;
}

#productTable tbody tr {
    background-color: #fdfdfd;
    border-bottom: 1px solid #e3e3e3;
}

#productTable tbody tr:hover {
    background-color: #f1f1f1;
}

#productTable td:first-child,
#productTable th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#productTable td:last-child,
#productTable th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Responsive table pour mobile */
@media (max-width: 600px) {
    table, th, td {
        display: block;
        width: 100%;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        display: block;
        margin-bottom: 10px;
    }

    table tbody tr td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        position: relative;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    table tbody tr td:before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
    }
}

/* Styles spécifiques au User Table */
#userTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#userTable thead {
    background-color: #333;
    color: #fff;
}

#userTable th,
#userTable td {
    padding: 12px 15px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ddd;
}

#userTable th {
    font-weight: 600;
}

#userTable tbody tr {
    transition: background 0.3s ease;
}

#userTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#userTable tbody tr:hover {
    background-color: #ddd;
}

/* Styles des boutons */
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

/* Styles pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

#addUserForm label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#addUserForm input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Responsive pour le modal */
@media (max-width: 600px) {
    .modal-content {
        width: 90%;
    }

    .close-button {
        font-size: 24px;
    }

    #addUserForm input {
        padding: 6px;
    }
}

.buttonForbidden {
    height: 40px;
    padding: 8px 15px;
    background-color: #737879;
    color: white;
    border: none;
    border: 1px solid gray;
    border-radius: 4px;
}

/* Style des notifications */
/* Ajout pour le masquage des sections */
section {
    display: none;
}

section.active {
    display: block;
}

/* Styles des notifications */
#notifications {
    padding: 20px;
    background-color: #f0f0f0;
}
#notifications h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

#notificationList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 50px;
}

.notification {
    background-color: #ffffff;
    border-left: 5px solid #007bff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: block;
}

.notification h3 {
    margin: 0 0 5px;
    color: #007bff;
    font-size: 18px;
}

.notification p {
    margin: 5px 0;
    font-size: 14px;
}

.notif-date {
    font-size: 12px;
    color: #666;
}

/* Style des erreurs */
.error {
    color: red;
    font-weight: bold;
    text-align: center;
    background-color: #fff3f3;
    padding: 10px;
    border-radius: 5px;
}