/* pcdetails.css */

/* Importation des polices */
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

/* Style spécifique à la page des détails */
.details-page {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  color: #444;
  background: #eee;
}

.details-page h2 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
  text-align: center;
}

/* Style pour le tableau responsive */
.details-page .rwd-table {
  margin: 1em 0;
  min-width: 300px; /* ajustez selon vos besoins */
  background: #34495E;
  color: black;
  border-radius: .4em;
  overflow: hidden;
}

.details-page .rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-color: lighten(#34495E, 10%);
}

.details-page .rwd-table th, .details-page .rwd-table td {
  margin: .5em 1em;
  text-align: left;
}

.details-page .rwd-table th {
  display: none; /* pour l'accessibilité, utilisez une méthode visuellement cachée */
}

.details-page .rwd-table td {
  display: block;
  padding: .25em .5em;

  &:first-child {
    padding-top: .5em;
  }
  &:last-child {
    padding-bottom: .5em;
  }

  &:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em; /* ajustez selon votre contenu */
    display: inline-block;
  }

  @media (min-width: 480px) {
    display: table-cell;
    padding: 1em !important;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:before {
      display: none;
    }
  }
}

.details-page .rwd-table th, .details-page .rwd-table td:before {
  color: #dd5;
}

/* Style pour le bouton de retour */
.details-page .back-button {
  padding: 10px 20px;
  color: #fff;
  background-color: #ffc107;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.details-page .back-button:hover {
  background-color: #e0a800;
}